<!DOCTYPE html>
<html lang="en">

<head>
<title>Skim</title>

<meta charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="screen" href="../../css/screen.css" />
<link rel="alternate" type="application/atom+xml" 
      title="Atom Feed" href="{{ feedPath }}"/>

</head>
<body>

	<!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">						
		
		<h1 id="logo-text"><a href="index.html" title="">Skim</a></h1>
		<p id="intro">Simple knowledgebase for insightful metabolomics</p>
		
		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../../pathway_explorer.html">Pathways</a></li>
				<li id="current"><a href="_list/notebook/recent-posts?descending=true&limit=5">Notebook</a></li>
				<li><a href="collaborations.html">Collaborations</a></li>
				<li><a href="support.html">Support</a></li>		
			</ul>		
		</div>		
		
		<div id="header-image">
			<div id="user-info">
				<div class="sidemenu" id="account"></div>
				<div class="sidemenu" id="profile"></div>
			</div>
		</div>		
		
		<form id="quick-search" action="index.html" method="get" >
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="../../images/search.gif" />
			</p>
		</form>					
	
	<!-- header ends here -->
	</div></div>
	
	<!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
	
		<!-- main -->
		<div id="main" class="grid_8">
			
			<h2><a href="index.html">Notes and Insights</a></h2>
			<div id="feeds">
				<p class="post-info">Atom feeds of 
				<a href="{{feedPath}}">posts</a> &amp;
				<a href="{{commentsFeed}}">comments</a>.</p>
			</div>
			<div id="add_new_insight"></div>
				<div id="tagcloud"></div>			
				<div id="recent_insights">
				<ul id="posts">
					{{#posts}}
					  <li>
						<h3><a href="{{ link }}">{{ title }}</a></h3>
						{{#has_tags}}
						  <div class="tags">
							{{#tags}}
							  <a href="{{link}}">{{tag}}</a>
							{{/tags}}
						  </div>
						{{/has_tags}}
						<div class="by">
						  <span class="date">{{ date }}</span> 
						  by {{author}}
						</div>
					  </li>
					{{/posts}}
    			</ul>
			</div>
			<div id="paginate">
				<a href="{{ older }}">older posts</a>
				<a href="{{5}}">5</a>
				<a href="{{10}}">10</a>
				<a href="{{25}}">25</a>   
			</div>
			
		</div>
			
					
		<!-- left-columns starts -->
		<div id="left-columns" class="grid_8">
			
			<div class="grid_4 alpha">
				<h3>News Feed</h3>
					<div id="news_feed"></div>		
			</div>	
	
		
			<div class="grid_4 omega">
			    
				<div class="sidemenu" id="items"></div>
				
			</div>
		
		
		<!-- end left-columns -->
		</div>		
	
	<!-- contents end here -->	
	</div></div>

	<!-- footer starts here -->	
	<div id="footer-wrapper" class="container_16">
	
		<div id="footer-content">
		
			<div class="grid_8">
		
				<h3>Resource Links</h3>			
				<p>
				<a href="index.html">Read more...</a>
				</p>

				<ul class="footer-list">				
                    <li><a href="http://abe-bhaleraolab.age.uiuc.edu" title="Bhalerao Lab">BhaleraoLab -
                        <span>Homepage at Agricultural and Biological Engineering</span></a>
                    </li>
				</ul>			
						
			</div>
			
			<div class="grid_8">
					
				<h3>Image Gallery </h3>					
				<p class="thumbs">
					<a href="index.html"><img src="../../images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="../../images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src="../../images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
				</p>	
			<!--
				<h3>About</h3>			
				<p>
				<a href="http://getfirefox.com/"><img src="../images/gravatar.jpg" width="40" height="40" alt="firefox" class="float-left" /></a>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
				odio, ac blandit ante orci ut diam.</p>
				<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
				Cras id urna. <a href="index.html">Learn more...</a></p>
			-->		
			</div>	
		
		</div>
	
		<div id="footer-bottom">
	
			<p class="bottom-left">			
			&nbsp; &copy; 2011 Kaustubh D. Bhalerao <br />
			Agricultural and Biological Engineering </br>
			University of Illinois at Urbana-Champaign.
			Design by <a href="http://www.styleshout.com/">styleshout</a>
			</p>	
			
			<p class="bottom-right" >
				<a href="index.html">Home</a> |
				<a href="index.html">Sitemap</a> |
				<a href="index.html">RSS Feed</a> |						
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>
	
		</div>	
			
	</div>
	<!-- footer ends here -->

</body>
	{{>scripts}}
	<script type="text/javascript" charset="utf-8">
		var opts = {};
		if(window.location.host == 'abe-bhaleraolab.age.uiuc.edu') {
			opts = {'urlPrefix' : '/couchdb'};
			
			//google analytics code
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-19114222-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		}
		$.couch.app(function(app) {
			$('.date').prettyDate();
			$("#account").evently("account", app);
			$("#profile").evently("profile", app);
			$.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
			$("#items").evently("items", app);
			$("#add_new_insight").evently($.extend(true, 
				app.ddoc.vendor.couchapp.evently.account, 
				app.ddoc.evently.insights), app);
			$("#tagcloud").evently(this.ddoc.evently.tagcloud, this);
  				}, {
				db : "{{db}}",
				design : "{{design}}"	  
		}, opts);
	</script>
</html>
